{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="title">
        <h2>{{ title }}</h2>
    </div>
    <div class="about">
        <div class="text">
            <p>Сохраните воспоминания о моментах из своей жизни.
            Создавайте альбомы для каждый событий и добавляйте связанные с ними изображения
            </p>
            <img class="about_img" src="static/main_pages/images/pict1.png" alt="картинка1">
        </div>
        <div class="text">
            <p>Сохраните воспоминания о моментах из своей жизни.
            Создавайте альбомы для каждый событий и добавляйте связанные с ними изображения
            </p>
            <img class="about_img" src="static/main_pages/images/pict1.png" alt="картинка1">
        </div>
    </div>
</div>
{% endblock content%}