{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    div.form{
        width: 360px;
        background: white;
        padding: 30px;
        box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    }

    .errors{
        color: red;
        font-size: 14px;
    }

    .errors ul{
        list-style: none;
        padding: 0;
    }

    .errors li{
        margin-top: 5px;
    }

    .site-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
}
</style>
<div class="form-wrapper">
<div class="form">
<h3>Изменить пароль</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="field mb-2"><label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label><br>{{ field }}
        <div class="errors">{{ field.errors }}</div>
    </div>

    {% endfor %}
    <button class="btn btn-primary" type="submit" style="width: 100%;">Изменить пароль</button>
</form>

</div>
</div>
{% endblock content %}